* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 350px;
}
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}
.inner-container {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}
.header {
  font-size: 36px;
  font-weight: 400;
  color: #344054;
}
.pathname {
  color: #004eeb;
  font-size: 20px;
}
.footer {
  font-size: 20px;
  font-weight: 500;
  color: #344054;
}
.library {
  color: #e34c26;
  font-weight: 600;
}
